%h1= "Experiment ##{@experiment.id}"

.row
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Id
        %th{:scope => "col"} Email
        %th{:scope => "col"} Created At
        %th{:scope => "col"} Clicked On At
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "Empty indicates message is waiting to be sent"} Sent On
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "Where emails sent immediately on creation?"} Sent Immediately?

    %tbody
      - @click_trackers.each do |click_tracker|
        %tr
          %th{:scope => "row"}= click_tracker.id
          %th{:scope => "row"}= click_tracker.email.gsub(/.{0,5}@/, '####@')
          %td= click_tracker.created_at.to_date if click_tracker.created_at
          %td= click_tracker.clicked_on_at.to_date if click_tracker.clicked_on_at
          %td= click_tracker.sent_on.to_date if click_tracker.sent_on
          %td= click_tracker.send_immediately ? "Yes" : "No"

:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
