.row
  .col-6
    = form_for @click_tracker do |f|
      .form-group
        = f.label :experiment_id
        = select_tag :experiment_id, options_from_collection_for_select(@experiments, "id", "id"), class: "form-control"
        %small.form-text.text-muted Choose the experiment the email should be part of.
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
        %small.form-text.text-muted Email addresses are only stored until message is sent. Then they are deleted.

      = f.submit "Send New Email", class: "btn btn-lg btn-primary"
      %small.form-text.text-muted 50% of emails we be sent in the future according to the experiements wait interval.
