.row
  .col-6
    = form_for @click_tracker do |f|
      .form-group
        = f.label :experiment_id
        = select_tag :experiment_id, options_from_collection_for_select(@experiments, "id", "id"), class: "form-control"
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
        %small.form-text.text-muted Email address is only stored until message is sent. Then it is deleted.

      = f.submit class: "btn btn-lg btn-primary"
