.row
  = link_to "Create New Experiment", new_experiment_path, class: "btn btn-primary mb-4"
.row
  %table.table
    %thead
      %tr
        %th{:scope => "col"} Experiment #
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "Number of Days System Waits Before Sending Email"} Wait Interval (days)
        %th{:scope => "col"} Survey Link
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "Total Emails (sent and pending)"} Total
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "This Group Was Sent Emails Immediately"} % Clicked (Immediate)
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "This Group Was Sent Emails After Experiment's Interval Window"} % Clicked (Interval)
        %th{:scope => "col","data-placement" => "top", "data-toggle" => "tooltip", :title => "View Send And Pending Emails"} Sent

    %tbody
      - @experiments.each do |experiment|
        %tr
          %th{:scope => "row"}= experiment.id
          %td= experiment.wait_interval_days
          %td= link_to truncate(experiment.survey_link), experiment.survey_link
          %td= experiment.click_trackers.count
          %td= number_to_percentage(experiment.percent_immediate * 100, precision: 0)
          %td= number_to_percentage(experiment.percent_interval * 100, precision: 0)
          %td= link_to "Emails", experiment_click_trackers_path(experiment)
:javascript

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
